.header-wrapper{
    padding : 35px 95px;
}

.header-wrapper .header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-wrapper .header-content .header-nav{
    display: flex;
    align-items: center;
    /* flex: 1; */
}

.header-wrapper .header-content .header-nav .nav-links {
    display: flex;
    align-items: center;
    width: 100%;
    list-style: none;
}
